.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0f26473a;
  border-radius: 2rem;

  padding: 0.3rem;
  margin: 2rem auto;

  .links {
    display: flex;
    gap: 0.8rem;

    .link {
      text-align: center;
      padding: 0.5rem 2rem;
      border-radius: 2rem;

      background-color: #ffffff39;

      font-size: 1rem;
      color: #fff;

      transition: 0.4s;

      &:hover {
        background-color: #2235553b;
      }
    }

    .active-link {
      text-align: center;
      padding: 0.5rem 2rem;
      border-radius: 2rem;

      background-color: #0059ff;

      transition: 0.4s;
    }
  }
}
