form {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem;

  .form_title {
    text-align: center;
    padding-bottom: 0.8rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1rem;

    span {
      color: #ffffffa0;
    }
  }

  input {
    width: 300px;

    padding: 1rem 1.5rem;
    background-color: white;

    border: none;
    border-radius: 0.5rem;

    font-size: 1rem;
    color: rgb(18, 44, 62);

    &::placeholder {
      font-size: 0.9rem;
      color: rgba(47, 62, 79, 0.398);
    }

    &:focus {
      outline: none;
      background-color: white;
    }

    &:focus::placeholder {
      color: white;
    }
  }

  #errName,
  #errEmail,
  #errPhone {
    width: 300px;
    padding-left: 0.3rem;
    padding-bottom: 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(255, 62, 62);
  }

  button {
    width: 100%;

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;

    background-color: #0a1c28;
    padding: 1rem 1rem;

    color: white;

    border-radius: 0.5rem;
    border: none;

    transition: 0.4s;

    &:hover {
      background-color: #006eff;
    }
  }
}

.news_page {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .meta_gif {
    width: 500px;
    border-radius: 1rem;
    transition: 0.4s;
  }

  @media (max-width: 657px) {
    .meta_gif {
      width: 370px;
    }
  }

  @media (max-width: 380px) {
    .meta_gif {
      width: 300px;
    }
  }

  .title {
    text-transform: uppercase;
    padding: 1.4rem;
    font-size: 1rem;
    border-radius: 3rem;
    color: #ffffff;
  }

  .replay {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #eff6ff;
    text-shadow: 0 0 30px #99c5ff;

    span {
      color: #ffffff66;
      text-transform: lowercase;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
